.company {
    position: relative;
    overflow: hidden;
    color: #FBFCFE;
    background-color: #1B262F;
    padding-top: 100px;
    padding-bottom: 100px;
    &::after{
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 780px;
        height: 780px;
        background-color: #36536B;
        border-radius: 50%;
        opacity: .15;
        z-index: -1;
    }
    &__blocks {
        display: flex;
    }

    &__left {
        width: 445px;

        &__title {
            padding:0;
            margin: 0;
            margin-bottom: 20px;
            font-family: DM Serif Display;
            font-size: 48px;
            line-height: 56px;
            letter-spacing: -0.369231px;
        }

        &__text {
            font-weight: normal;
            font-size: 15px;
            line-height: 28px;
            mix-blend-mode: normal;
            opacity: 0.7;
            margin-bottom: 32px;
        }

        &__btn {
            text-decoration: none;
            padding: 16px 32px;
            font-weight: bold;
            border: 1px solid #FBFCFE;
            border-radius: 24px;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            letter-spacing: -0.115385px;
            color: #FBFCFE;
            &:hover{
                background-color: #2b3944;
            }
            &:active{
                background-color: #FBFCFE;
                color: #1B262F;
            }
        }
    }
    &__right{
        display: flex;
        flex-direction: row;
        align-items: center;
        &__first{
            list-style: none;
            
        }
        .first{
            margin-left: 60px;
            height: 120px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            &__item{

                &__link{
                    text-decoration: none;
                }
            }
            
        }
    }

}

@media screen and (max-width: 1160px) {
    .company {
        
    
        &__blocks {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;

        }
    
        &__left {
            margin-top: 60px;
            text-align: center;
            align-items: center;
            // justify-content: center;
    
            &__title {
                
            }
    
            &__text {
               
            }
    
            &__btn {
                
                &:hover{
                }
                &:active{
                   
                }
            }
        }
        &__right{
            
            &__first{
                margin: 0;
                margin: 20px;
            }
            .first{
                
                &__item{
    
                    &__link{
                    }
                }
                
            }
        }
    
    }
    
}


@media screen and (max-width: 780px) {
    .company {
        
    
        &__blocks {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;

        }
    
        &__left {
            margin-top: 60px;
            text-align: center;
            align-items: center;
            // justify-content: center;
    
            &__title {
                
            }
    
            &__text {
               
            }
    
            &__btn {
                
                &:hover{
                }
                &:active{
                   
                }
            }
        }
        &__right{
            flex-wrap: wrap;
            &__first{
                margin: 0;
                margin: 20px;
            }
            .first{
                &:nth-child(3){
                    flex-direction: row;
                    display: flex;
                    // justify-content: space-between;
                    &__item{
                        
                        
                }
                &:nth-child(3)>.first__item:nth-child(2){
                   margin-left: 100px;
                        
                        
                }
            
                
    
                    &__link{
                        
                    }
                }
                
            }
        }
    
    }
    
}