.ready{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__title{
        font-family: DM Serif Display;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 56px;
        
        letter-spacing: -0.369231px;
        
        color: #36536B;
    }
    &__form {
        width: 445px;
        height: 48px;
        display: flex;
        justify-content: space-between;
        background: #FBFCFE;
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
        border-radius: 24px;

        &__input {
            border-radius: 24px;
            border: none;
            opacity: 1;
            padding: 15px 24px;
            font-size: 15px;
            line-height: 18px;
            // font-family: Public Sans;
            font-style: normal;
            font-weight: bold;

            &::placeholder {
                color: #36536B;
                mix-blend-mode: normal;
                opacity: 0.5;
            }
            &:focus{
                outline: none;
            }
            &:hover{
                cursor: pointer;
            }
        }

        &__btn {
            border: none;
            color: white;
        }
        }

 
}



@media screen and (max-width: 870px) {
    .ready{
        flex-direction: column;
        &__title{
            margin-bottom: 40px;
        }
        &__form {
    
            &__input {
    
                &::placeholder {
                }
                &:focus{
                }
                &:hover{
                }
            }
    
            &__btn {
            }
            }
    
     
    }
    
}

@media screen and (max-width: 600px) {
    .ready{
        flex-direction: column;
        &__title{
            margin-bottom: 40px;
        }
        &__form {
            flex-direction: column;
    
            &__input {
                margin-bottom: 16px;
    
                &::placeholder {
                }
                &:focus{
                }
                &:hover{
                }
            }
    
            &__btn {
            }
            }
    
     
    }
    
}